
:root{
    --background-total : #f9dbdb;
    --text-primary : #282828; 
    --sidebar-bg : #fbd3d2;
    --sidebar-text-item-hover: #b72479;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: 'Inter,sans-serif';
    font-weight: 500;
    font-size: 18px;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}


/* // ---------------- //  */

.App-zing_mp3{
    display: flex;
    align-items: center;
}



/* sidebar  */
.sidebar-bg{
    max-width: 240px;
    background-color: var(--background-total);
}


.sidebar-logo{
    padding: 0px 25px 0px 28px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.logo-mp3{
    width: 120px;
    height: 40px;
    display: inline-block;
}

.category_list > li {
    padding: 12px 21px;
    color: var(--text-primary);
}
.category_item-icon-play{
    display: none;
}
.category_item-link{
    justify-content: space-between;
}
.category_item-link , .category_item-link-head{
    display: flex;
    align-items: center;
}
.category_list > li > a:hover {
    color: var(--sidebar-text-item-hover);
}
.category_list > li > a:hover > .category_item-icon-play {
    display: inline-block;
}
.category_list > .active{
    border-left: 5px solid red;
    background-color: #ccc;
    color: var(--sidebar-bg);
}
.not-active{
    border-left: 5px solid transparent;
    color: var(--text-primary);
}
.category_list > .active > .category_item-link{
    color: var(--sidebar-text-item-hover);
}
.category_item-icon{
    margin-right: 15px;
    line-height: 50%;
}
.sidebar-l{
    padding: 10px 0;
}
.category-bt_live{
    padding: 1px 8px;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 10px;
    outline: none;
    background-color: red;
    color: white;
    font-size: 11px;
}


.sidebar-line{
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: #ccc;
}

.sidebar-scroll_list{
    height: 498px;
    overflow-y: hidden;
}

/* link website -> https://css-tricks.com/examples/WebKitScrollbars/ */

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.sidebar-scroll_list:hover{
    overflow-y: auto;
}
/* .sidebar-scroll_list::-webkit-scrollbar{
    animation: sidebarCroll linear 2s;

} */
/* @keyframes sidebarCroll {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  } */
.category_item-icon-ellipsis{
    position: relative;
}
.category_item-icon-ellipsis::after{
    content: "Khác";
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: -35px;
    left: -15px;
    padding: 3px 8px;
}
.category_item-icon-ellipsis::before{
    content: "";
    position: absolute;
    color: red;
    top: -10px;
    left: -3px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid black;
}
.sidebar-create_new_list{
    display: flex;
    align-items: center;
    padding: 12px 21px;
    border-left: 5px solid transparent;
    cursor: pointer;
}
.sidebar-create_new_list-icon{
    margin-right: 15px;
    line-height: 50%;
}
.sidebar-create_new_list:hover{
    color: var(--sidebar-text-item-hover);
}
.category_list > .category_item-account{
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 15px 8px;
    text-align: center;
    margin: 12px 20px;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
}
.category_item-account_text{
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
}
.lv-account {
    outline: none;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: yellow;
    color: black;
    margin-top: 14px;
    font-weight: 700;
}

  



/* content  */

.Content-zing_mp3{
    text-align: center;
    width: 1358px;
    height: auto;
}
.Right-zing_mp3{
    width: 329px;
}
