<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta email="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Trang login</h1>
    <form id="loginForm">
        <label for="email">email:</label>
        <input type="text" id="email" email="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" email="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <button id="googleSignInButton">Google</button>
    <button id="facebookSignInButton">facebook</button>
    <a href="login/loginSMS.php">SMS</a>



    <script type="module" src="../asset/js/loginSocial.js"></script>
    <!-- <script src="../asset/js/login.js"></script> -->
</body>
</html>